<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boss.mapper.ApplyinfoMapper">
  <resultMap id="BaseResultMap" type="com.example.boss.entity.Applyinfo">
    <!--@mbg.generated-->
    <!--@Table applyinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="sp_id" jdbcType="INTEGER" property="spId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, u_id, sp_id, `status`
  </sql>
</mapper>