<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boss.mapper.InterviewMapper">
  <resultMap id="BaseResultMap" type="com.example.boss.entity.Interview">
    <!--@mbg.generated-->
    <!--@Table interview-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ri_id" jdbcType="INTEGER" property="riId" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="i_time" jdbcType="TIMESTAMP" property="iTime" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ri_id, a_id, address, i_time, flag, `status`
  </sql>
</mapper>