<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boss.mapper.RecruitMapper">
  <resultMap id="BaseResultMap" type="com.example.boss.entity.Recruit">
    <!--@mbg.generated-->
    <!--@Table recruit-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="salary" jdbcType="VARCHAR" property="salary" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, p_id, num, address, createtime, updatetime, salary, `status`
  </sql>

  <resultMap id="ResultMap" type="com.example.boss.dto.FindResultDto">
    <result property="c_name" column="c_name"></result>
    <result property="p_decription" column="decription"></result>
    <result property="p_name" column="p_name"></result>
    <result property="p_skill" column="skill"></result>
    <result property="r_address" column="address"></result>
    <result property="r_createtime" column="createtime"></result>
    <result property="r_num" column="num"></result>
    <result property="r_salary" column="salary"></result>
  </resultMap>
  <select id="findByType" parameterType="com.example.boss.dto.FindByType" resultMap="ResultMap">
    SELECT

    p.`name` p_name, p.decription, p.skill ,
    c.`name` c_name,
    r.num , r.address,r.createtime,r.salary

    from

    company c

    INNER JOIN  position p  on c.id=p.c_id
    INNER JOIN  recruit r   on r.p_id=p.id

    WHERE



      <if test="r_address !=null">
        (r.address LIKE "%${r_address}%" )and
    </if>

<!--    <if test="r_salaryL !=0">-->
<!--   (r.salary&gt;=#{r_salaryL} and-->
<!--     </if>-->

<!--      <if test="r_salaryH !=0">-->
<!--        #{r_salaryH}&gt;=r.salary)and-->
<!--    </if>-->

    <if test="c_name  !=null ">
      (c.name LIKE "%${c_name}%")and
    </if>


      <if test="p_name !=null">
        (p.name like "%${p_name}%"  )
      </if>



  </select>

</mapper>