<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boss.mapper.ResumeMapper">
  <resultMap id="BaseResultMap" type="com.example.boss.entity.Resume">
    <!--@mbg.generated-->
    <!--@Table resume-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, a_id, address, createtime, updatetime
  </sql>
</mapper>